<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ExclusionDb" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=ExclusionEngineDb;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID" />
    <authentication mode="None" />
    <sessionState timeout="30" />
  </system.web>
</configuration>
